.active {
    font-weight: bold;
    color: aqua;
}
/* 
menu {
    display: flex;
    padding: 1rem;
}

li {
    list-style-type: none;
    margin-inline: 1rem;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: black;
} */